.video-details__title {
    font-weight: 800;
    font-size: 23px;
    margin-top: 60px;
    margin-bottom: 13px;
}

.video-details__category {
    font-weight: 600;
    font-size: 17px;
    color: #676372;
    margin-bottom: 45px;
}

.video-details__watch__subscribe {
    background: linear-gradient(0deg, rgba(18, 18, 26, 0.93), rgba(18, 18, 26, 0.93)), url(../../img/video-details/video-details__watch-bg.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

@media only screen and (min-width : 576px) and (max-width : 768px) {
    .video-details__title {
        font-size: 21px;
    }
}

@media only screen and (min-width : 0px) and (max-width : 576px) {
    .video-details__title {
        font-size: 19px;
    }

    .video-details__category {
        font-size: 16px;
    }
}



