.play-btn {
    width: 46px;
    height: 46px;
    border: 2px solid #676372;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    --bg-color: #030304;
    --secondary-color: #12121A;
    --main-font: 'Noto Sans', sans-serif;
    --gray-color: #676372;
    --yellow-color: #FFF500;;
    background-color: var(--bg-color);
    font-family: var(--main-font);
    color: #ffffff;
}