@import './common.css';
@import './profile.css';
@import './film-details.css';

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.default-btn {
    outline: none;
    border: none;
}

.default-btn:hover {
    cursor: pointer;
}

ul {
    padding: 0;
}