@import './profile.css';

a {
    outline: none;
    text-decoration: none;
    color: white;
}

.default-btn {
    outline: none;
    border: none;
}

.default-btn:hover {
    cursor: pointer;
}

p {
    margin: 0;
}